h1{
    font-size: 450%;
    text-align: center;
}
h2{
    font-size: 250%;
    text-align: center;
}
p{
    font-size: 170%;
    text-align: justify;
}
body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #17335D;
}