.titulo{
    font-size: 300%;

}
.texto{
    font-size: 150%;
}
.titulo_2{
    font-size: 200%;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    color: #17335D;
}
img{
            display: flex;
            margin: auto;
            border-block-start: 10cap;
            border-width: 50%;
            border-radius: 10%;
        }