
.navbar {
  font-size: 20px;
  background-color: #17335D;
  padding: -5%;
}
a{
  color: #ffffff;
}
nav div ul li a:hover{
color: #A80600;
}
.menu{
  font-display:swap;
  display: flex;
}
.logo{
  border-color: #A80600;
  border-radius: 150%;
  border-style:double;/*double*/
  border-width: 1cap;
  float: left;
  
}
.row.content {height: 100%}

/* Set gray background color and 100% height */
.sidenav {
  padding-top: 20px;
  background-color: #f1f1f1;
  height: 100%;
}

/* Set black background color, white text and some padding */
footer {
  font-size: 100%;
  background-color: #17335D;
  color: white;
  padding: 15px;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 600px) {
  .sidenav {
	height: auto;
	padding: 15px;
  }
  .row.content {height:auto;}
}
.logo_body{
  border-color: #A80600;
  border-radius: 150%;
  border-style:double;/*double*/
  border-width: 1cap;
  display: flex; 
  margin: auto;
  opacity:0.85;
}

.texto_principal{
  text-align: justify;
  font-size:200%;
  color: #17335D;
  font: bold;
  display: flex;
}
.titulo_principal{
  text-align: center;
  color: #17335D;
  font-size: 350%;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.body_index{
  background-color: #ffffff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}